<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <br>
            <h1 class="page-header">Deportistas
                <small>Participantes colombianos en los juegos olimpicos</small>
            </h1>
        </div>
    </div>

    <div data-ng-repeat="deportista in deportistas">
        <div class="row">
            <div class="col-md-4"><img class="img-responsive" src="{{ deportista.fields.urlImagen }}" alt=""
                                       style="width: 600px;height: 300px"></div>
            <div class="col-md-5">
                <h2><b>Nombre:</b> {{ deportista.fields.nombre }} {{ deportista.fields.apellido }}</h2>
                <h3><b>Lugar de Nacimiento:</b> {{ deportista.fields.lugar_nacimiento }}</h3>
                <h3><b>Fechas de Nacimiento:</b> {{ deportista.fields.fecha_nacimiento }}</h3>
                <h3><b>Edad:</b> {{ deportista.fields.edad }} años</h3>
                <h3><b>Peso:</b> {{ deportista.fields.peso }} Kg</h3>
                <h3><b>Estatura:</b> {{ deportista.fields.estatura }} metros</h3>
                <h3><b>Nombre del Entrenador:</b> {{ deportista.fields.nombre_entrenador }}</h3>
            </div>
            <div class="col-md-2">
                <a class="btn btn-primary" ng-click="thumbnail(deportista.pk)">Ver Thumbnail <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
            <br>
            <div class="col-md-2">
                <a class="btn btn-primary" ng-click="calendario(deportista.pk)">Ver Calendario <span
                        class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
