{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Olimpicolombia</title>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body style="background-image: url('http://www.hdwallpapers.in/walls/rio_2016_summer_olympics-HD.jpg');background-size: cover">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #21255a;border: none">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">OlimpiColombia</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Evento</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <br>
                <h1 class="page-header">Eventos del deportista
                    <small>{{lista_Evento_Deportista.0.deportista.nombre}} {{lista_Evento_Deportista.0.deportista.apellido}}</small>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
               <img class="img-responsive" src="{{lista_Evento_Deportista.0.modalidad.urlImagen}}" alt="" style="width: 600px;height: 300px">
            </div>
        </div>

        {% for info in lista_Evento_Deportista %}
        <div class="row">
            <div class="col-md-12">
            <h3><b>Fecha:</b> {{ info.fecha }}</h3>
                <h3><b>Modalidad:</b> {{ info.modalidad.nombre }}</h3>
                <h3><b>Resultado:</b> {{ info.resultado }}</h3>
        </div>
             </div>
        <br>
        <br>
        {% endfor %}
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p style="color: white">Copyright &copy; Olimpicolombia project 2016-II</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>

    </body>

    <script src="../lib/jquery.js"></script>
    <script src="../lib/bootstrap.min.js"></script>

</body>

</html>
