<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}

<html lang="en" ng-app="olimpicolombia">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Olimpicolombia</title>

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

</head>

<body style="background-image: url('http://www.hdwallpapers.in/walls/rio_2016_summer_olympics-HD.jpg');background-size: cover">

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="background-color: #21255a;border: none">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">OlimpiColombia</a>
        </div>
        {% verbatim %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"
             ng-controller="navCrtl">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#/deportes">Deportes</a>
                </li>
                <li>
                    <a href="/crear_usuario">Registro</a>
                </li>
                 <li>
                    <a href=""><i class="fa fa-lock"></i>Logout</a>
                </li>
            </ul>
        {% endverbatim %}
        </div>
    </div>
</nav>
<!-- Page Content -->
<div class="container">
    <div ng-view></div>
    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p style="color: white">Copyright &copy; Olimpicolombia project 2016-II</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>

<script src="{% static "lib/jquery.js" %}"></script>
{% bootstrap_javascript %}
{% bootstrap_css %}
<script src="{% static "lib/angular/angular.min.js" %}"></script>
<script src="{% static "lib/angular/angular-route.min.js" %}"></script>
<script src="{% static "lib/angular/angular-resource.min.js" %}"></script>
<script src="{% static "lib/angular/angular-cookies.min.js" %}"></script>
<script src="{% static "js/app.js" %}"></script>
<!-- Controllers -->
<script src="{% static "js/navController.js" %}"></script>
<script src="{% static "js/registrationController.js" %}"></script>
<script src="{% static "js/deportesController.js" %}"></script>
<script src="{% static "js/deportistaController.js" %}"></script>
<script src="{% static "js/destacadoController.js" %}"></script>
<script src="{% static "js/eventoController.js" %}"></script>
<!-- Services -->
<script src="{% static "js/registrationService.js" %}"></script>
<script src="{% static "js/deportesService.js" %}"></script>
<script src="{% static "js/deportistaService.js" %}"></script>
<script src="{% static "js/destacadoService.js" %}"></script>
<script src="{% static "js/eventoService.js" %}"></script>
<!-- Other -->
<script src="{% static "js/csrfToken.js" %}"></script>

</body>

</html>
